flask
gunicorn
flask-sqlalchemy
flask_marshmallow
marshmallow-sqlalchemy
flask-migrate
psycopg2
flask_login
urllib3
selenium
certifi
webdriver_manager
Pillow
flask_wtf
wtforms
email_validator
python-dotenv
flask_session
num2words
sklearn
nltk
numpy
plotly
scikit-surprise