{% extends "base.html" %}
{% block title %}Index{% endblock %}


{% block content %}

    <!-- Main Content -->

    <section class="sample-text-area">

      <div class="container">
        
        <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
            <div class="row post-preview">
              <div class="col-lg-3 col-md-3 col-xs-3 d-flex justify-content-center img-fluid align-self-center">
                <a id="{{id}}+" href="{{url_for( 'movie.get_movie', check_insert_like='True', movieid=id, user_name=session.get('user_id'), genre=genre, id=id, title=title, poster=poster, url=url, duration=duration, director=director, description=description, check_if_main_movie=True )}}"><i class="fa fa-star" style="color: {{main_movie_color}};"></i></a>  
                <a href="{{url}}" target="_blank">
                <img class="f-img img-fluid" src="{{poster}}" style="height: 250px; object-fit: cover; object-position: center;">
                <!--src="data:image/png;base64,{{poster}}"-->
              </a>
              </div>

              <div class="col-lg-9 col-md-9 col-xs-9">
                <h2 class="post-title">
                  <a href="{{url}}" target="_blank">{{title}}</a>
                </h2>
                <h3>{{genre}}</h3>
                <p>{{description}}</p>
                <p class="post-meta">director: {{director}}</p>
              </div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 50px; padding-top: 50px;">

          {% for movie in similar_movies  %}
            <div class="genre-movie col-lg-2 col-md-4 col-xs-6">
              <div class="thumb">
                <a id="{{movie[0]}}+" href="{{url_for( 'movie.get_movie', check_insert_like='True', movieid=movie[0], user_name=session.get('user_id'), genre=genre, id=id, title=title, poster=poster, url=url, duration=duration, director=director, description=description, check_if_main_movie=False )}}"><i class="fa fa-star" style="color: {{movie[8]}};"></i></a>
                <a href="{{url_for('movie.get_movie', genre=genre, id=movie[0], title=movie[1], poster=movie[2], url=movie[3], duration=movie[4], director=movie[5], description=movie[6], main_movie_color=movie[8])}}">  
                  <img class="f-img img-fluid" src="{{movie[2]}}" alt="{{movie[1]}}" style="height: 250px; object-fit: cover; object-position: center;">
                </a>
              </div>
            </div>
          {% endfor %}
  
        </div>

      </div>


    </section>

{% endblock %}

