{% macro footer() -%}
<!-- start footer Area -->
			<footer class="footer-area section-gap">
					<div class="container">
							<div class="row">
									<div class="justify-content-center">
											<div class="single-footer-widget">
													<h4>About This Page</h4>
													<p class="footer-text">
															This website was coded in HTML, CSS, Bootstrap and Python It is hosted on a Heroku. The code can be found <a href="https://github.com/anthony-chukwuemeka-nwachukwu/Movie-App" target="_blank"> here.</a>
													</p>
													<p class="footer-text">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart-o" aria-hidden="true"></i> 
											</div>
									</div>
							</div>
					</div>
			</footer>
			<!-- End footer Area -->

{%- endmacro %}